/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap'); */
@tailwind base;


@layer base {
    a {
        text-decoration: none !important;
    }

    .test {
        direction: rtl;
    }

    .custom_input {
        @apply tw-border-2 tw-m-2 tw-rounded-sm tw-border-secondary tw-w-11/12 tw-shadow-md tw-outline-none tw-p-1 tw-text-center
    }

    input[type='submit'] {
        @apply tw-border-2 tw-m-2 tw-rounded-sm tw-border-secondary tw-w-11/12 tw-shadow-md tw-p-1 tw-text-center tw-bg-nav-bg tw-text-white tw-font-bold
    }

    .notification_icon {
        @apply tw-bg-primary tw-rounded-full tw-h-4 tw-w-4 tw-inline-block tw-text-white tw-leading-4 tw-text-center tw-absolute tw-inset-x-7 tw-inset-3 tw-text-xs
    }

    .price::after {
        content: '$'
    }

}
@tailwind components;
@tailwind utilities;
